        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
        }
        
        .rectangle {
            width: 1200px;
            height: 630px;
            background-color: #c4c4c4;
            border-radius: 20px;
            stroke-width: 20px;
            box-shadow: 23px 23px 10px rgba(0, 0, 0, 1);       
            border: 3px solid #000000;
            background-image: url('/img/BackgroundImage.jpg');
            background-size: cover;
            background-position: center;
            
        }

