body {
    background-color: #333; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.controller-case {

    background-image: url(''); 
    background-size: cover;
    background-color: #e0e0e0;
    

    width: 900px;
    height: 500px;
    border-radius: 20px;
    

    box-shadow: 
        10px 10px 30px rgba(0,0,0,0.5), 
        inset 2px 2px 5px rgba(255,255,255,0.4);

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    padding: 30px;
    box-sizing: border-box;
}

